$dark-000: #ece9ea;
$dark-100: #d9d4d6;
$dark-200: #c6bfc2;
$dark-300: #b4abae;
$dark-400: #a2979b;
$dark-500: #908388;
$dark-600: #5d4c52; //main
$dark-700: #221d1f;
$dark-800: #191617;
$dark-900: #0f0d0e;

$blue-400: #8dbfb3; //main
$blue-500: #6c9188;
$blue-600: #5c7b73;
$blue-700: #4d665f;

$cream-400: #faf6e3;
$cream-500: #f7f2d5;
$cream-600: #f2ebc0; //main
$cream-700: #b7b192;

$orange-400: #feddb9;
$orange-500: #fcd5a7;
$orange-600: #f8c485;
$orange-700: #f3b462; //main

$red-400: #ffb2a0;
$red-500: #ff8973;
$red-600: #f95c49;
$red-700: #f44034; //main

$green-400: #c3dfad;
$green-500: #abd28d;
$green-600: #92c56d; //main
$green-700: #709554;

$primary: $blue-400;
$secondary: $dark-700;
$success-background: $green-400;
$success-primary: $green-600;
$danger-background: $red-400;
$danger-primary: $red-700;
$background: $cream-500;
$background-alt: $cream-400;
$text: $dark-900;

$background-dark: $dark-800;
$background-alt-dark: $dark-900;
$text-dark: $cream-400;
