$light-clr-bg: #cae7e5;
$light-clr-bg-alt: #a9bec6;
$light-clr-text: #0e3744;
$light-clr-accent1: #9f3323;
$light-clr-accent2: #fba446;

$light-theme: (
	'clr-bg': #cae7e5,
	'clr-bg-alt': #a9bec6,
	'clr-text': #0e3744,
	'clr-accent1': #9f3323,
	'clr-accent2': #fba446,
);
