@use '_colors.scss' as *;
@import '_reset.scss';

.light {
	background-color: $background;
	color: $text;

	.app-container {
		background-color: $background-alt;
	}

	.navbar {
		background-color: $primary;
		color: $cream-400;

		.navbar-item:hover {
			background-color: $blue-700;
		}
	}
}

.dark {
	background-color: $background-dark;
	color: $text-dark;

	.app-container {
		background-color: $background-alt-dark;
	}

	.navbar-item {
		&:hover {
			background-color: $dark-700;
		}
	}
}
